In [7]:
# Entrada de dados
nome = input("Digite seu nome: ")
idade = int(input("Digite sua idade: "))
altura = float(input("Digite sua altura em metros: "))

Digite seu nome: jonas
Digite sua idade: 40
Digite sua altura em metros: 1.73

In [8]:
# Processamento
ano_atual = 2025
ano_nascimento = ano_atual - idade

In [10]:
# 1. print() com vírgulas (automático com espaços)
print("Nome:", nome, "| Idade:", idade, "| Altura:", altura)

Nome: jonas | Idade: <class 'int'> | Altura: 1.73

In [15]:
# 2. print() com concatenação (+) — precisa converter tipos para string
print("Você se chama" + nome + " e tem " + str(idade) + " anos.")

Você se chama jonas e tem 40 anos.

In [18]:
# 3. print() com método .format()
print("Altura: {:.1f} metros. Você nasceu em {}.".format(altura, ano_nascimento))

Altura: 1.7 metros. Você nasceu em 1985.

In [21]:
# 4. f-string (forma mais moderna e legível)
print(f"{nome} tem {idade} anos, mede {altura:.4f} m e nasceu em {ano_nascimento}.")

jonas tem 40 anos, mede 1.7300 m e nasceu em 1985.

In [23]:
# 5. f-string com alinhamento de texto
print(f"{'Nome:':<12}{nome}")
print(f"{'Idade:':<12}{idade}")
print(f"{'Altura:':<12}{altura:.2f}")
print(f"{'Nascimento:':<12}{ano_nascimento}")

Nome:       jonas
Idade:      40
Altura:     1.73
Nascimento: 1985

In [30]:
# Entrada de dados
num1 = float(input("Digite o primeiro número: "))
num2 = float(input("Digite o segundo número: "))

Digite o primeiro número: 1.2
Digite o segundo número: 1.5

In [29]:
# prompt: 7.56

# Cálculo da média
media = (num1 + num2) / 2

# Saída formatada
print(f"A média entre {num1} e {num2} é igual a {media:.2f}")

A média entre 7.562 e 875.23 é igual a 441.40

In [31]:
# 1. print padrão com vírgulas
soma = num1 + num2
subtracao = num1 - num2
multiplicacao = num1 * num2
divisao = num1 / num2
divisao_inteira = num1 // num2
resto = num1 % num2
exponenciacao = num1 ** num2
print("Soma:", soma)
print("Subtração:", subtracao)
print("Multiplicação:", multiplicacao)
print("Divisão:", divisao)
print("Divisão inteira:", divisao_inteira)
print("Resto da divisão:", resto)
print("Exponenciação:", exponenciacao)
print("Média:", media)

Soma: 2.7
Subtração: -0.30000000000000004
Multiplicação: 1.7999999999999998
Divisão: 0.7999999999999999
Divisão inteira: 0.0
Resto da divisão: 1.2
Exponenciação: 1.3145341380123985
Média: 441.396

In [32]:
# 2. print com concatenação (convertendo para string)
print("\nA soma é: " + str(soma))
print("A média é: " + str(media))

A soma é: 2.7
A média é: 441.396

In [33]:
# 3. Usando .format()
print("\nA multiplicação é: {:.2f}".format(multiplicacao))
print("A exponenciação resulta em: {:.2f}".format(exponenciacao))

A multiplicação é: 1.80
A exponenciação resulta em: 1.31

In [34]:
# 4. f-strings com formatação
print(f"\nA subtração de {num1} por {num2} é {subtracao:.2f}")
print(f"A divisão com duas casas decimais: {divisao:.2f}")
print(f"Média dos dois números: {media:.2f}")

A subtração de 1.2 por 1.5 é -0.30
A divisão com duas casas decimais: 0.80
Média dos dois números: 441.40

In [36]:
# 5. Alinhamento de resultados
print("\n--- Formatação Alinhada ---")
print(f"{'Operação':<20}{'Resultado':>10}")
print(f"{'Soma':<20}{soma:>10.2f}")
print(f"{'Subtração':<20}{subtracao:>10.2f}")
print(f"{'Multiplicação':<20}{multiplicacao:>10.2f}")
print(f"{'Divisão':<20}{divisao:>10.2f}")
print(f"{'Divisão inteira':<20}{divisao_inteira:>10.0f}")
print(f"{'Resto da divisão':<20}{resto:>10.2f}")
print(f"{'Exponenciação':<20}{exponenciacao:>10.3f}")
print(f"{'Média':<20}{media:>10.3f}")

--- Formatação Alinhada ---
Operação             Resultado
Soma                      2.70
Subtração                -0.30
Multiplicação             1.80
Divisão                   0.80
Divisão inteira              0
Resto da divisão          1.20
Exponenciação            1.315
Média                  441.396

In [44]:
# Entrada de dados
nome = input("Digite seu nome: ")
idade = int(input("Digite sua idade: "))

Digite seu nome: jonas
Digite sua idade: 40

In [45]:
# Processamento com estruturas condicionais
print("\n--- Resultado com print simples ---")
if idade < 12:
    print("Você é uma criança.")
elif idade < 18:
    print("Você é um adolescente.")
elif idade < 60:
    print("Você é um adulto.")
else:
    print("Você é um idoso.")

--- Resultado com print simples ---
Você é um adulto.

In [46]:
# Usando concatenação
print("\n--- Resultado com concatenação ---")
if idade < 12:
    print("Olá, " + nome + "! Você é uma criança.")
elif idade < 18:
    print("Olá, " + nome + "! Você é um adolescente.")
elif idade < 60:
    print("Olá, " + nome + "! Você é um adulto.")
else:
    print("Olá, " + nome + "! Você é um idoso.")

--- Resultado com concatenação ---
Olá, jonas ! Você é um adulto.

In [47]:
# Usando .format()
print("\n--- Resultado com .format() ---")
if idade < 12:
    print("Olá, {}. Sua idade é {} e você é uma criança.".format(nome, idade))
elif idade < 18:
    print("Olá, {}. Sua idade é {} e você é um adolescente.".format(nome, idade))
elif idade < 60:
    print("Olá, {}. Sua idade é {} e você é um adulto.".format(nome, idade))
else:
    print("Olá, {}. Sua idade é {} e você é um idoso.".format(nome, idade))

--- Resultado com .format() ---
Olá, jonas . Sua idade é 40 e você é um adulto.

In [48]:
# Usando f-strings
print("\n--- Resultado com f-strings ---")
if idade < 12:
    classificacao = "criança"
elif idade < 18:
    classificacao = "adolescente"
elif idade < 60:
    classificacao = "adulto"
else:
    classificacao = "idoso"

print(f"{nome}, você tem {idade} anos e é classificado como {classificacao}.")

--- Resultado com f-strings ---
jonas , você tem 40 anos e é classificado como adulto.

In [49]:
# Resultado tabulado
print("\n--- Resultado com alinhamento ---")
print(f"{'Nome':<10}{'Idade':<10}{'Classificação':<15}")
print(f"{nome:<10}{idade:<10}{classificacao:<15}")

--- Resultado com alinhamento ---
Nome      Idade     Classificação
jonas     40        adulto

In [50]:
# 1. Uso básico do while (contador)
contador = 1
while contador <= 5:
    print(f"Contador atual: {contador}")
    contador += 1  # incremento
print("\n==== WHILE COM BREAK ====")

Contador atual: 1
Contador atual: 2
Contador atual: 3
Contador atual: 4
Contador atual: 5

==== WHILE COM BREAK ====

In [53]:
# 2. while com break (interrompe quando encontra uma condição)
x = 0
while True:
    x += 1
    print(f"x = {x}")
    if x == 3:
        print("Parando o loop com break.")
        break

print("\n==== WHILE COM CONTINUE ====")

x = 1
x = 2
x = 3
Parando o loop com break.

==== WHILE COM CONTINUE ====

In [54]:
# 3. while com continue (pula para a próxima iteração)
i = 0
while i < 5:
    i += 1
    if i == 3:
        print("Pulando o número 3")
        continue
    print(f"i = {i}")

i = 1
i = 2
Pulando o número 3
i = 4
i = 5

In [56]:
# 4. for com range()
for i in range(5):
    print(f"i = {i}")  # vai de 0 até 4

print("\n--- range com início e fim ---")
for i in range(2, 6):  # de 2 até 5
    print(f"i = {i}")

print("\n--- range com passo ---")
for i in range(0, 10, 2):  # de 0 a 8, pulando de 2 em 2
    print(f"i = {i}")

print("\n--- contagem regressiva ---")
for i in range(5, 0, -2):  # de 5 até 1
    print(f"i = {i}")

i = 0
i = 1
i = 2
i = 3
i = 4

--- range com início e fim ---
i = 2
i = 3
i = 4
i = 5

--- range com passo ---
i = 0
i = 2
i = 4
i = 6
i = 8

--- contagem regressiva ---
i = 5
i = 3
i = 1

In [57]:
# 5. Percorrendo listas com for
nomes = ["Ana", "Bruno", "Carlos"]
for nome in nomes:
    print(f"Olá, {nome}!")

print("\n==== FOR COM ENUMERATE ====")

# 6. Usando enumerate para pegar índice e valor
for indice, nome in enumerate(nomes):
    print(f"Índice {indice}: {nome}")

Olá, Ana!
Olá, Bruno!
Olá, Carlos!

==== FOR COM ENUMERATE ====
Índice 0: Ana
Índice 1: Bruno
Índice 2: Carlos

In [60]:
# 7. Iterando sobre caracteres de uma string
texto = "Python"
for letra in texto:
    print(letra)

# ----------------------------

0 P
1 y
2 t
3 h
4 o
5 n

In [61]:
# 8. Combinando for e if
numeros = [1, 4, 7, 10, 13]
for n in numeros:
    if n % 2 == 0:
        print(f"{n} é par")
    else:
        print(f"{n} é ímpar")

1 é ímpar
4 é par
7 é ímpar
10 é par
13 é ímpar

In [68]:
# 9. List comprehension (forma compacta de escrever loops)de exemplos de for dentro de for

quadrados = [x**2 for x in range(5, 10)]
print("Quadrados de 1 a 5:", quadrados)

pares = [x for x in range(40,50) if x % 2 == 0]
print("Números pares até 9:", pares)

Quadrados de 1 a 5: [25, 36, 49, 64, 81]
Números pares até 9: [40, 42, 44, 46, 48]

In [ ]:
for i in range(1, 6):  # de 1 a 5
    print(f"\nTabuada do {i}")
    for j in range(1, 11):  # de 1 a 10
        print(f"{i} x {j} = {i * j}")

In [ ]:
matriz = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

for linha in matriz:
    for elemento in linha:
        print(elemento, end=" ")
    print()  # quebra de linha ao fim da linha

In [ ]:
cores = ["vermelho", "azul"]
tamanhos = ["P", "M", "G"]

for cor in cores:
    for tamanho in tamanhos:
        print(f"Produto - Cor: {cor}, Tamanho: {tamanho}")

In [1]:
n = 3
m = 4
matriz = []

for i in range(n):  # linhas
    linha = []
    for j in range(m):  # colunas
        linha.append(i * j)
    matriz.append(linha)

print(matriz)

[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6]]

In [ ]:
# Exemplo: Menu com match/case

opcao = input("Escolha uma opção (1, 2 ou 3): ")

match opcao:
    case "1":
        print("Você escolheu a opção 1 - Ver saldo")
    case "2":
        print("Você escolheu a opção 2 - Fazer depósito")
    case "3":
        print("Você escolheu a opção 3 - Sair")
    case _:
        print("Opção inválida!")

In [ ]:
# Definindo as ações
def ver_saldo():
    print("Saldo: R$ 1.000,00")

def depositar():
    print("Depósito realizado com sucesso.")

def sair():
    print("Sessão encerrada.")

def opcao_invalida():
    print("Opção inválida!")

# Dicionário de ações
menu = {
    "1": ver_saldo,
    "2": depositar,
    "3": sair
}

# Entrada do usuário
escolha = input("Escolha uma opção (1 - Saldo, 2 - Depósito, 3 - Sair): ")

# Executa a função correspondente, ou a função padrão se não existir
menu.get(escolha, opcao_invalida)()